div.upper{
	text-align:left;
	font-family: Verdana;
	color:white;
	background-color: #d66b6b;
	font-size: 30px;
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 10px;
}
h3.qs{
	text-align: left;
	color: #d15c5c;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	margin-bottom: 0px;
}
p.ans{
	margin-right: 60%;
	font-family: 'Gloria Hallelujah', cursive;
}
h2{
	font-size: 45px;
	font-family: 'Pacifico', cursive;
	margin-bottom: 1px;
	color: #dea4a4;
	text-shadow:
   	-1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
}
p.rightp{
	margin-top: 1px;
	font-family: 'Gloria Hallelujah', cursive;
}
#addinfotitle{
	font-size: 20px;
}
#addinfo{
	font-size: 18px;
}
ul{
	list-style-image: url("jamond.gif");
	list-style-position: outside;
	font-family: 'Gloria Hallelujah', cursive;
}
div.right{
	background-image: url("clouds.gif");
	background-repeat: no-repeat;
	position: relative;
	right: 70px;
	background-size: 350px 757px;
	text-align: center;
	float: right;
	margin: 0px 2% 10px 2%;
	max-width: 350px;
}
body{
	background-color: #ffcfcf;
}