div.upper{
	text-align:left;
	font-family: Verdana;
	color:white;
	background-color: #d66b6b;
	font-size: 30px;
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 10px;
}
h3.qs{
	text-align: left;
	color: #d15c5c;
}
p.ans{
	margin-right: 60%;
}
h2{
	color: #dea4a4;
}
p.rightp{
	margin-top: 1px;
	font-family: 'Gloria Hallelujah', cursive;
}
#addinfotitle{
	font-size: 20px;
}
#addinfo{
	font-size: 18px;
}
div.right{
	background-image: url("clouds.gif");
	background-repeat: no-repeat;
	position: fixed;
	right: 70px;
	background-size: 350px 757px;
	text-align: center;
	float: right;
	margin: 0px 2% 10px 2%;
	max-width: 350px;
}
body{
	background-color: #ffcfcf;
}