div.upper{
	text-align:left;
	font-family: Verdana;
	color:white;
	background-color: #d66b6b;
	font-size: 30px;
	padding-bottom: 2px;
	padding-left: 10px;
	border-radius: 10px;
}
h3.qs{
	text-align: left;
	color: #d15c5c;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	margin-bottom: 0px;
}
p.ans{
	margin-right: 60%;
	font-family: 'Gloria Hallelujah', cursive;
}
body{
	background-color: #ffcfcf;
}
